:host {
  display: block;
  --background-color: transparent;
  --border-color: transparent;
  --border-size: 0px;
  --noise-texture-dark: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' %3E%3Cfilter id='n' %3E%3CfeTurbulence baseFrequency='0.3' numOctaves='5' stitchTiles='stitch' /%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0.5 0.5 0.5 0' /%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='1' /%3E%3C/svg%3E");
  --noise-texture-light: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' %3E%3Cfilter id='n' %3E%3CfeTurbulence baseFrequency='0.3' numOctaves='5' stitchTiles='stitch' /%3E%3CfeColorMatrix values='1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0.5 0.5 0.5 0.5 0' /%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='1' /%3E%3C/svg%3E");
}

button {
  background-color: var(--background-color);
  border: var(--border-size) solid var(--border-color);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
}

button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.primary {
  --background-color: #007bff;
  --border-color: #007bff;
}

@keyframes noise-anim {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0% 0%;
  }
}

.primary:hover {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, .75) 0%, 25%, var(--background-color) 100%);
  box-shadow: inset 0 0 0 1px black;
}

.noise-hover:hover {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, .75) 0%, 25%, var(--background-color) 100%), var(--noise-texture-light);
  animation: noise-anim linear 1s infinite;
}

.secondary {
  --background-color: #007bff;
  --border-color: #007bff;
  --border-size: 2px;
}