:root {
  --col-primary: #202020;
  --col-primary-dark: #151515;
  --col-primary-light: #2f2f2f;
  --col-secondary: #eeeeee;
  --col-secondary-dark: #e0e0e0;
  --col-secondary-light: #fefefe;
  --col-trim: #dd0000;
  --col-trim-dark: #d00000;
  --col-trim-light: #ff0000;
}

/* rajdhani-latin-400-normal */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/rajdhani/files/rajdhani-latin-400-normal.woff2) format('woff2'), url(@fontsource/rajdhani/files/rajdhani-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* rajdhani-latin-500-normal */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/rajdhani/files/rajdhani-latin-500-normal.woff2) format('woff2'), url(@fontsource/rajdhani/files/rajdhani-latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* rajdhani-latin-600-normal */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/rajdhani/files/rajdhani-latin-600-normal.woff2) format('woff2'), url(@fontsource/rajdhani/files/rajdhani-latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* rajdhani-latin-700-normal */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/rajdhani/files/rajdhani-latin-700-normal.woff2) format('woff2'), url(@fontsource/rajdhani/files/rajdhani-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
}