<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <base href="/pizza/">
    <meta name="description" content="{{description}}" />
    <link rel="shortcut icon" href="IMAGETODO" type="image/png">
    {{#if path}}
      <link rel="stylesheet" href="css/{{path}}.css">
    {{else}}
      <link rel="stylesheet" href="css/index.css">
    {{/if}}

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:site_name" content="{{title}}" />
    <meta property="og:image" content="IMAGETODO"/>
    <meta property="og:description" content="{{description}}" />
    <meta property="og:locale" content="en_GB" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:site" content="@xinchronize" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="IMAGETODO" />
  </head>
  {{>@partial-block}}
</html>
