:host {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 125px auto 125px;
  grid-template-rows: clamp(0, 1fr) 1fr;
}

input {
  background-color: var(--col-primary);
  color: var(--col-secondary);
  border: 1px solid var(--col-trim);
  border-radius: 5px;
  padding: 5px;
  grid-row: 2;
  grid-column: 1 / span 3;
}

input::selection {
  background-color: var(--col-secondary);
  color: var(--col-primary);
}

input:focus,
input:focus-visible {
  outline: 2px solid var(--col-trim);
}

input:hover {
  background-color: var(--col-primary-light);
  border-color: var(--col-trim-light);
}

input.has-button {
  border-radius: 5px 0 0 5px;
  grid-column: 1 / span 2;
}

input.label-side {
  border-radius: 0 5px 5px 0;
  grid-column: 2 / span 3;
}

input.label-side.has-button {
  border-radius: 0 0 0 0;
  grid-column: 2;
}

input.label-above {
  border-radius: 0 0 5px 5px;
  grid-column: span 3;
}

input.label-above.has-button {
  border-radius: 0 0 0 5px;
  grid-column: 1 / 3;
}

button {
  border-radius: 0 5px 5px 0;
  border: 1px solid var(--col-trim);
  background-color: var(--col-trim);
  color: var(--col-secondary);
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-row: 2;
  grid-column: 3;
}

button.label-above {
  border-radius: 0 0 5px 0;
}

button:hover,
button:focus {
  background-color: var(--col-trim-light);
  color: var(--col-primary);
}

button:active {
  background-color: var(--col-trim-dark);
}

button:focus {
  outline: 2px solid var(--col-trim);
}

label {
  background: var(--col-primary-light);
  color: var(--col-secondary-light);
  padding: 3px 5px;
  border: 1px solid var(--col-trim-dark);
  min-width: 33%;
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

label.above {
  grid-column: 1 / span 3;
  grid-row: 1;
  border-radius: 5px 5px 0 0;
}

label.side {
  width: 100%;
  border-radius: 5px 0 0 5px;
}