@import "./content-area.scss";

body {
  background: #333;
  color: #eee;
  margin: 0;
  padding: 0;
}

.list-wrapper {

}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar-item {
  display: inline-block;
}

.navbar-link {
  color: #ddd;
  text-decoration: none;
  font-weight: bold;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }

  &:hover {
    color: #efefef;
  }
}

.info {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid #aaa;

  .title {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .description {
    margin: 5px 0;
  }

  .site {
    text-decoration: none;
    color: #ccc;

    &:before {
      content: "[";
    }

    &:after {
      content: "]";
    }

    &:hover {
      color: #efefef;
    }  }
}
