{{#> notbody}}
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <section class="list-wrapper">
      <header>
        {{> navbar}}
      </header>
      <section class="info">
        <h1 class="title">{{title}}</h1>
        <p class="description">{{description}}</p>
        <a href="{{site}}" class="site">{{site}}</a>
      </section>
      <ul class="content-list">
        {{{contents}}}
      </ul>
      <footer></footer>
    </section>
  </body>
{{/notbody}}
