{{#> notbody}}
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <section class="list-wrapper">
      <header>
        <img src="" alt="">
        {{> navbar}}
      </header>
      <ul class="content-list">
        {{{contents}}}
      </ul>
      <footer></footer>
    </section>
  </body>
{{/notbody}}
